# Описание проекта
- **Заказчик** - кредитный отдел банка. 
- **Задача** - провести анализ платежеспособности клиентов в разрезе их характеристик
- **Исходные данные** — статистика о платёжеспособности клиентов.
- **Результаты исследования** необходимы для оценки способности потенциального заёмщика вернуть кредит банку.
### Цель проекта
- Описать **идеального клиента** для банка 
### Описание данных
- **children** — количество детей в семье
- **days_employed** — общий трудовой стаж в днях
- **dob_years** — возраст клиента в годах
- **education** — уровень образования клиента
- **education_id** — идентификатор уровня образования
- **family_status** — семейное положение
- **family_status_id** — идентификатор семейного положения
- **gender** — пол клиента
- **income_type** — тип занятости
- **debt** — имел ли задолженность по возврату кредитов
- **total_income** — ежемесячный доход
- **purpose** — цель получения кредита

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Группируем клиентов по количеству детей

children_credit = data.groupby('children')['children'].count()
print(children_credit)

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [23]:
# Считаем количество задолженностей в зависимости от количества детей у клиентов

children_debt = data.groupby('children')['debt'].sum()
print(children_debt)

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

In [24]:
# Находим зависимость между количеством детей и возвратом кредита

children_return = children_debt/children_credit
children_return

children
0    0.075438
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
dtype: float64

In [25]:
# Формируем сводную таблицу для отображения средней доли задолженностей в каждой группе, сортируем по убыванию задолженности
children_result = data.groupby('children')['debt'].agg(['count', 'sum', 'mean'] ).sort_values(by='mean', ascending=False)

# Форматируем значение столбца mean в процентах
children_result['mean'] = children_result['mean'].apply(lambda x: "{:.2%}".format(x))

# Выводим итоговую таблицу
children_result

          count   sum   mean
children
4            41     4  9.76%
2          2052   194  9.45%
1          4808   444  9.23%
3           330    27  8.18%
0         14091  1063  7.54%
5             9     0  0.00%

**Вывод:** 
- **На 1-м месте** клиенты **без детей**, воможно это связано с тем, что у таких клиентов меньше обязательных ежемесячных трат.
- **На 2-м месте** клиенты с **тремя детьми**, возможно это люди, которые уже имеют опыт кредитования в банках и могут хорошо планировать свой бюджет.
- **На 3-м месть** клиенты с **одним и двумя детьми**, вероятно это молодые семьи с первичным опытом кредитования.
- **На 4-м месте** клиенты с **четырьмя детьми**, возможно большие ежемесячные расходы затрудняют вопрос с погашением кредита. На последнем месте клиенты с пятью  детьми, здесь нет ни одного случая невозврата кредита.

In [26]:
# Создаем функцию для подсчета среднего уровня задолженности в группе, сортировка по возрастанию, столбец mean в %
def pivot_result(column_debt):
    result=column_debt.agg(['count', 'sum', 'mean']).sort_values(by='mean', ascending=True)
    result['mean'] = result['mean'].apply(lambda x: f'{x:.2%}')
    return result
result = pivot_result(data.groupby('children')['debt'])
print(result)

          count   sum   mean
children
5             9     0  0.00%
0         14091  1063  7.54%
3           330    27  8.18%
1          4808   444  9.23%
2          2052   194  9.45%
4            41     4  9.76%

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

# Группируем клиентов по семейному статусу

family_credit = data.groupby('family_status')['family_status'].count()
print(family_credit)

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: family_status, dtype: int64

In [28]:
# Считаем количество задолженностей в зависимости от семейного статуса

family_debt = data.groupby('family_status')['debt'].sum()
family_debt

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [29]:
# Находим зависимость между семейным статусом и возвратом кредита

family_return = family_debt/family_credit
family_return

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
dtype: float64

In [30]:
# Применяем функцию для подсчета средней задолженности в группе

pivot_result(data.groupby('family_status')['debt'])

                       count  sum   mean
family_status
вдовец / вдова           951   63  6.62%
в разводе               1189   84  7.06%
женат / замужем        12261  927  7.56%
гражданский брак        4134  385  9.31%
Не женат / не замужем   2796  273  9.76%

**Вывод:** 
- **На 1-м месте** одинокие клиенты **(в разводе или вдовцы/вдовы)**, вероятно,у таких клиентов меньше ежемесячных обязательных трат. 
- **На 2-месте** клиенты, **состоящие в официальном браке**,  у таких людей расходы уже больше, что вполне закономерно.
- **На 3-м месте** клиенты, **не состоящие в официальном браке или состоящие в гражданском браке**, такие клиенты вероятно тратят больше остальных, т. к. им необходима более насыщенная культурная жизнь.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [31]:
# Группируем клиентов по категориям от уровня доходв

category_credit = data.groupby('total_income_category')['total_income_category'].count()
category_credit

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: total_income_category, dtype: int64

In [32]:
# Считаем количество невозвращенных крелитов по категориям уровня доходов

category_debt = data.groupby('total_income_category')['debt'].sum()
category_debt

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [33]:
# Находим зависимость между уровнем дохода и возвратом кредита в срок
# 0–30000 — 'E';
# 30001–50000 — 'D';
# 50001–200000 — 'C';
# 200001–1000000 — 'B';
# 1000001 и выше — 'A'.
category_return = category_debt/category_credit
category_return

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
dtype: float64

In [34]:
# Применяем функцию для подсчета средней задолженности в группе

pivot_result(data.groupby('total_income_category')['debt'])

                       count   sum   mean
total_income_category
D                        349    21  6.02%
B                       5014   354  7.06%
A                         25     2  8.00%
C                      15921  1353  8.50%
E                         22     2  9.09%

**Вывод:** 
- **На 1-м месте** клиенты, которые с доходом **30001–50000 р.**, вероятно это клиенты со стабильным средним доходом, которые хорочшо понимают цель кредитования и могут планировать расходы
- **На 2-м месте** клиенты с высоким доходом **200001–1000000 р.**, вероятно эти клиенты уже закрыли базовые потребности и хотят существенно улучшить качество жизни, у них высокие расходы, но и высокие доходы, которые позволяют планомерно покрывать кредит
- **На 3-м месте** клиенты с самым высоким уровнем дохода **1000001 р. и выше**, вероятно такие клиенты берут достаточно больший кредит либо уровень их дохода не равномерный и они не всегда мгут планировать свои расходы
- **На 4-м месте** клиенты с хорошим уровнем дохода **50001–200000**, вероятно такие клиенты уже закрыли свои основные базовые потребности, но хотят существенно их улучшить, перейти на следующию ступень, берут большие кредиты, но уровень дохода не позволяет их выплачивать своевременно.
- **На 5-м месте** клиентыс самым низким уровнем дохода до **30000** р. Вероятно такие клиенты бурет кредит на покрытие своих базовых потребностей и испытывают определенные трудности с возвратом.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [35]:
# Группируем клиентов по цели кредита

purpose_sorted = data.groupby('purpose_category')['purpose_category'].count().sort_values(ascending=False)
print(purpose_sorted)

purpose_category
операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [36]:
# Считаем количество невозвращенных кредитов в зависисмости от цели кредита

purpose_debt = data.groupby('purpose_category')['debt'].sum().sort_values(ascending=False)
print(purpose_debt)

purpose_category
операции с недвижимостью    780
операции с автомобилем      400
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

In [37]:
# Находим зависимость между целью кредита и его возвратом

purpose_return = purpose_debt/purpose_sorted
print(purpose_return)

purpose_category
операции с недвижимостью    0.072551
операции с автомобилем      0.093480
получение образования       0.092528
проведение свадьбы          0.079118
dtype: float64

In [38]:
# Применяем функцию для подсчета средней задолженности в группе

pivot_result(data.groupby('purpose_category')['debt'])

                          count  sum   mean
purpose_category
операции с недвижимостью  10751  780  7.26%
проведение свадьбы         2313  183  7.91%
получение образования      3988  369  9.25%
операции с автомобилем     4279  400  9.35%

**Вывод:** 
- **На 1-м месте** клиенты, которые берут кредит на **недвижимость**, вероятно это связано с тем, что такие клиенты хорошо планируют свои расходы на длительный период.
- **На 2-м месте** клиенты, которые берут кредит на **проведение свадьбы**, вероятно после свадьбы они используют часть подаренных средств на погашение кредита. 
- **На 3-м месте** можно объединить клиентов, берущих кредит на операции с **автомобилем** и на **получение образования**. Возможно данные клиенты относятся к молодой возрастной категории и испытывают трудности с планированием своих расходов.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.


- **Отсутствие данных при сборе:**
Некоторые значения могут не быть внесены в систему из-за ошибок или пропусков при сборе данных.
Информация может быть недоступной в исходных источниках из-за конфиденциальности или других причин.

- **Ошибки ввода данных:**
При ручном вводе данных могут возникнуть ошибки, что приведет к пропускам.
Например, опечатки или неправильные форматы данных могут вызвать проблемы.

- **Технические проблемы:**
Проблемы с оборудованием или программным обеспечением при сборе данных могут привести к потере информации.
Сбои в системе, сбои в сети или другие технические проблемы могут быть причиной потери данных.

- **Намеренные пропуски:**
В некоторых случаях пропуски могут быть оставлены намеренно, например, если информация не применима или не требуется для конкретного случая.

- **Неявные значения:**
Иногда отсутствующая информация может быть представлена неявно, например, нулевым значением или строкой "N/A".
- **Неоднородность источников данных:**
Если данные объединяются из разных источников, форматы и структуры могут не совпадать, что приведет к пропускам при объединении.

- **Проблемы при обработке данных:**
Ошибки при обработке данных, такие как слишком большие или слишком малые значения, могут привести к исключениям или пропускам в данных.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

- **Меньшая чувствительность к выбросам:**
Медиана менее чувствительна к выбросам по сравнению с средним значением. Если в данных есть выбросы, использование медианы может предоставить более устойчивую оценку центрального значения.

- **Поддержание распределения:**
Заполнение пропусков медианой помогает сохранить распределение переменной, особенно если оно скошено (не является нормальным).

- **Простота и интерпретируемость:**
Заполнение медианным значением - простой и быстрый метод, который легко применить. Кроме того, медиана имеет интуитивное объяснение.

- **Сохранение свойств переменной:**
Медиана сохраняет порядок значений и их относительные положения, что важно, особенно если эти относительные значения имеют значение для переменной.

- **Меньше влияние крайних значений:**
Медиана менее подвержена влиянию экстремальных значений, что может быть важным при работе с данными, где крайние значения несущественны или аномальны.

- **Более стабильное поведение на небольших выборках:**
На небольших выборках медиана может предоставлять более стабильные результаты в сравнении со средним значением.

### Шаг 4: общий вывод.

На основании проведенного исследования можно сделать следующий вывод: идеальный клиент **разведен или вдовец**, **без детей** с уровнем дохода **30001-50000** р., цель кредита - **операции с недвижимостью**. Такой клиент имеет стабильный средний доход, не обременен дополнительными тратами на семью и детей, берет деньги для покупки недвижимости, поскольку недвижимость - основная и самая дорогая базовая материальная потребность. Остальные, менее дорогие базовые потребности клиент может закрыть сам, исходя из своих расходов, что еще раз говорит о его отвественности и платежеспособности.